* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Martel Sans', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-fullwidth {
    width: 100%;
}

.container-fullwidth.top {
    background-color: #0d325a;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
nav {
    height: 70px;
    font-size: 12px;
    font-weight: 800;
}

.logo {
    float: left;
}

.logo img {
    height: 38px;
    margin: 14px 0 18px 0;
}

.menu {
    line-height: 70px;
    color: #fff;
    margin-left: 50px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: orange;
}

.menu, li  {
    float: left;
    margin-right: 20px;
    list-style: none;
}

.buttons {
    float: right;
    line-height: 70px;
}

.buttons a {
    margin-left: 10px;
    text-decoration: none;
}

.diventa-un-tutor{
    color: #9c9c9c;
}

.login {
    padding: 3px 25px;
    border: 1px solid #4e8cb6;
    border-radius: 5px;
    color: #fff;
}

.struttura-un-piano {
    padding: 3px 20px;
    background-color: #7fb802;
    border-radius: 5px;
    color: #fff;
}
/* Fine Header */


/* Jambotron */
.jumbotron {
    height: 420px;
    position: relative;
}

.slogan-container {
    position: absolute;
    top:52%;
    transform: translate(0,-50%);
    width: 45%;
    color: #fff;
}

.slogan-container h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
}

.struttura-un-piano.big {
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    padding: 8px 25px;
}

.image-jumbotron {
    height: 420px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(35%,7%); */
}
/* Fine Jambotron */


/* GreyRow */
.container-fullwidth.middle {
    z-index: 1;
    background-color: #f9f9f9;
}

.grey-row {
    font-size: 20px;
    text-align: center;
    padding: 45px 0;
}

.grey-row h3{
    font-weight: 400;
}

.grey-row p{
    font-size: 18px;
    font-weight: 300;
    color: #999;
}
/* Fine GreyRow*/


/* Cards */
.container-fullwidth.bottom {

}

.card {
    /* position: relative; */
    float: left;
    width: 33.3333%;
    text-align: center;
    padding: 30px;
    line-height: 25px;
}

.card img {
    height: 160px;
}

.card h3 {
    color: #7fb802;
    margin-top: 60px;
    min-height: 50px;
}

.card p {
    color: #999;;
    font-size: 16px;
}

.card hr {
    width: 30px;
    margin: 20px auto;
    border: 1px solid lightgray;
}
